<!DOCTYPE html>
<html>
    <head>
        <title>Products</title>
    </head>

    <body>
        <h1>Products</h1>
        <a href="{% url 'product_create' %}">Add new product</a>
         <ul>
            {% for product in products %}
                <li>
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% endif %}
                    <a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a>
                    (<a href="{% url 'product_update' product.pk %}">Edit</a>)
                    (<a href="{% url 'product_delete' product.pk %}">Delete</a>)
                </li>
            {% endfor %}
         </ul>
    </body>
</html>